.wrapper{
    width: 100%;
    /* background: orange; */
    border: 1px solid #dddddd;
    padding: 1em 0;
}
table{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
th{
    font-size: 1.2em !important;
    border: 1px solid #dddddd;
    padding: .3em;
}
td{
    border: 1px solid #dddddd;
    padding: .3em;
    font-size: 1em;
}
table .btn{
    padding: .3em .6em;
}